.btn-outline-secondary {
  background-color: #003366!important;
  color: white!important;
}

.btn-outline-secondary:hover {
	transform: translateY(-3px);
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.tabBtns {
  color: white;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
}

.mBB {
  margin-top: 30px;
}

mat-divider {
  background-color: #003366;
  height: calc(119vh - 98px);
  width: 0px !important;
  position: inherit !important;
}

.switchCases {
  padding-left: 25px;
  margin-top: 15px;
}

.imgLog {
  display: block;
  width: 80%;
}

.iconEye {
  position: absolute;
  left: 73%;
  margin-top: 10px;
}

.tranDiv {
  color: #003366!important;
  font-weight: 500;
  border-radius: 25px;
}

.tableBody {
  font-size: 15px;
}

.filterCard {
  color: #003366;
}

.filterText {
  margin-left: 30rem;
}

.filterInput {
  margin-top: -1px;
}

.dateColour {
  background-color: #003366!important;
}

.raisedbox { 
  padding-top: 50px;
}

.pointer {
  cursor: pointer;
}

.btn-outline-success {
  background-color: #FF0033!important;
  color: white!important;
}

.btn-outline-success:hover {
	transform: translateY(-3px);
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}


