.chart-container {
  margin-top: 20px;
}

.tranDiv {
  color: #003366!important;
  font-weight: 500;
  border-radius: 25px;
}

.tableBody {
  font-size: 15px;
}

.raisedbox { 
  padding-top: 50px;
}

.pointer {
  cursor: pointer;
}

.notificationColour {
	background-color: #003366!important;
}

.notificationColour:hover {
	transform: translateY(-3px);
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.ico {
  color: white;
	font-size: 27px;
}