.tranDiv {
  color: #003366!important;
  font-weight: 500;
  border-radius: 25px;
}

.tableBody {
  font-size: 15px;
}

.filterCard {
  color: #003366;
}

.filterText {
  margin-left: 45rem;
}

.filterInput {
  margin-top: -1px;
}

.dateColour {
  background-color: #003366!important;
}
/* #FF0033 */
.raisedbox { 
  padding-top: 50px;
}

.kycIMG {
  width: 70px;
	height: 70px;
}

.pendingSpan {
  color: #FF0033;
  font-size: 20px;
}




