<div class="row">
  <div class="container d-flex"  [ngSwitch]="switchTabs">
    <div class="firstDiv">
      <div class="d-flex">
        <div class="tabBtns">
          <div>
            <button class="btn btn-outline-secondary" (click)="changeContent('updateCurrencyAndConversion')" type="button">Update Charges And Rates</button>
          </div>

          <div>
            <button class="btn btn-outline-secondary mBB" (click)="changeContent('systemAcct')" type="button">Create System Accounts</button>
          </div>

          <div>
            <button class="btn btn-outline-secondary mBB" (click)="changeContent('systemBalances')" type="button">System Accounts</button>
          </div>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
      </div>
    </div>

    <div class="secondDiv">
      <div class="switchCases" *ngSwitchCase="'systemAcct'">
        <div class="row">
          <h4 class="fw-bold">Create a system account</h4>
          <div class="d-flex mt-5">
            <div>
              <img class="img-fluid imgLog" src="../../../assets/images/undraw_admin_syst.svg" alt="">
            </div>
            <div class="col-9">
              <form #createSysAcctForm="ngForm">
                <div class="form-outline">
                  <h4 class="mx-2">Choose a currency for the system account</h4>
                  <div class="col-md-8 mb-3">
                    <select [(ngModel)]="fCurrency" id="furrency" #currency class="form-control mat-elevation-z4" matRipple name="currency" required>
                      <option  value="">Select a currency from the following options</option>
                      <option value="NGN">NGN</option>
                      <option *ngFor="let x of seededCurrencies" value={{x.currency}}>{{x.currency}}</option>
                    </select>
                  </div>

                  <div class="col-md-8 mb-3">
                    <label class="form-label">Name</label>
                    <input #name type="text" class="form-control mat-elevation-z4" name="name" ngModel required/>
                  </div>
                </div>

                <button class="btn btn-outline-secondary mb-3 mt-3" type="submit" (click)="onSysAcctCreate(createSysAcctForm.value)">
                  Create System Account
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="switchCases" *ngSwitchCase="'updateCurrencyAndConversion'">
        <div class="row">
          <h4 class="fw-bold">Update currency charges and conversion rates</h4>
          <div class="d-flex mt-5">
            <div>
              <img class="img-fluid imgLog" src="../../../assets/images/undraw_admin_syst.svg" alt="">
            </div>
            <div class="col-9">
              <form #updateRateChargeForm="ngForm">
                <div class="form-outline">
                  <h4 class="mx-2">Choose a currency for update:</h4>
                  <div class="col-md-8 mb-3">
                    <select [(ngModel)]="fCurrency" id="furrency" #currency class="form-control mat-elevation-z4" matRipple name="currency" required>
                      <option  value="">Select a currency from the following options</option>
                      <option *ngFor="let x of seededCurrencies" id="checkCurrency" value={{x.currency}}>{{x.currency}}</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-8 mb-3">
                  <h4 class="form-label mx-2">Select action on what to update:</h4>
                  <select [(ngModel)]="fAction" #action class="form-control mat-elevation-z4" matRipple name="action" required>
                    <option  value="">Select an action to perform</option>
                    <option value="Charge">Charge</option>
                    <option value="Rate">Rate</option>
                  </select>
                </div>

                <div class="col-md-8 mb-3 mt-2">
                  <h4 class="form-label mx-2">Amount:</h4>
                  <input #amount type="number" class="form-control mat-elevation-z4" name="amount" ngModel required/>
                </div>

                <button class="btn btn-outline-secondary onRateCharge mb-3 mt-3" type="submit" (click)="onRateChargeUpdate(updateRateChargeForm.value)">
                  Update
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="switchCases" *ngSwitchCase="'systemBalances'">
        <div class="row">
          <h4 class="fw-bold">System Accounts</h4>
          <div class="row">
            <div class="col-12 tranDiv">
              <div class="filterCard d-flex justify-content-between">
                <div class="col-12">
                  <div class="d-flex justify-content-between">
                    <h4 class="filterText mt-2"><b>Filter By:</b></h4> 
                    <div class="filterInput mx-2">
                      <input type="search" [(ngModel)]="searchText" class="form-control">
                    </div>
                  </div>
                </div>
              </div>
              <div class="table-responsive mt-2 mx-2">
                <table class="table table-bordered text-center align-middle" 
                *ngIf="(sysAcctDetails | filterBy: searchText).length > 0; else noResults">
                  <thead>
                    <tr>
                      <th scope="col" (click)="setOrder('name')">
                        NAME <span class="pointer" [hidden]="reverse">▼</span><span class="pointer" [hidden]="!reverse">▲</span>
                      </th>
                      <th scope="col" (click)="setOrder('accountNumber')">
                        ACCOUNT NUMBER <span class="pointer" [hidden]="reverse">▼</span><span class="pointer" [hidden]="!reverse">▲</span>
                      </th>
                      <th scope="col" (click)="setOrder('balance')">
                        BALANCE <span class="pointer" [hidden]="reverse">▼</span><span class="pointer" [hidden]="!reverse">▲</span>
                      </th>
                      <th scope="col" (click)="setOrder('currency')">
                        CURRENCY <span class="pointer" [hidden]="reverse">▼</span><span class="pointer" [hidden]="!reverse">▲</span>
                      </th>
                    </tr>
                  </thead>
                  <tbody class="tableBody">
                    <tr *ngFor="let item of sysAcctDetails | filterBy: searchText | paginate: {itemsPerPage: tableSize, currentPage: page, totalItems: count}; let i = index">
                      <td>{{item.name}}</td>
                      <td>{{item.accountNumber}}</td>
                      <td>{{item.balance |currency:item.currency:"symbol":"1.2-2"}}</td>
                      <td>{{item.currency}}</td>
                    </tr>
                  </tbody>
                </table>

                <div class="d-flex justify-content-center raisedbox">
                  <pagination-controls
                    previousLabel="Prev"
                    nextLabel="Next"
                    (pageChange)="onTableDataChange($event)"
                  >
                  </pagination-controls>
                </div>

                <ng-template #noResults>
                  <p>No results found</p>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<app-admin-spinner></app-admin-spinner>
